@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
/* font-family: "Merriweather", serif; */


/* banner styles section */
.banner-container {

    max-width: 1320px;
    height: 600px;

    margin: 50px 140px;
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%);
    background-image: url(../images/Banner\ Image.png);

}

.hea {
    width: 259px;
    height: 40px;
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
    padding-left: 200px;
    padding-top: 50px;






}

.banner {
    width: 632px;
    height: 246px;

    margin: 0 auto;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    font-family: Merriweather;
    color: rgb(255, 255, 255);
    margin-top: 177px;
    text-align: center;
    padding-top: 177px;



}

.heading {

    font-size: 72px;
    font-weight: 900;


}

/* offer started */

.offer1 {

    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    line-height: 107px;
    letter-spacing: 0%;
    text-align: center;
    padding-bottom: 48px;
}

.offer2 {
    color: rgb(255, 0, 0);

    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: center;
    padding-bottom: 16px;
}

.offer3 {
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0%;
    text-align: center;
    padding-bottom: 48px;
}

.offer4 {
    width: 802.9px;
    height: 500px;
    margin-left: 399px;

    background-image: url(../images/New\ Year\ Photo.png);

}

/* midnight party */
.party3 {
    width: 349.16px;
    height: 464.65px;
    background-image: url(../images/Group\ 70.png);
    margin-top: 68.12px;
}

.party1 {
    width: 642px;
    height: 176px;
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 11%;
    text-align: left;
    margin-top: 126px;
    margin-left: 126px;
}

.party2 {
    margin-top: 24px;
    margin-left: 126px;
    width: 697px;
    height: 60px;
    font-family: Inter;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;

}

.join {
    margin-top: 48px;
    margin-left: 158px;
    background-color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
}

.party {
    display: flex;
    width: 1320px;
    height: 600px;
    background-image: url(../images/Vectorrr.png);
    margin: 120px;
}

/* section join */
.join1 {

    justify-items: center;
    justify-content: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;

}

.join-btn {
    width: 167px;
    height: 56px;
    margin-top: 48px;
    margin-left: 590px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    border-radius: 8px;
    background: rgb(255, 0, 0);
    border-color: white;
}

.join-section {
    margin-top: 100px;
    padding-top: 100px;
    width: 1320px;
    height: 482px;
    margin-left: 140px;
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0) 100%);
}

.p {
    color: rgb(255, 0, 0);
}

/* new-offer started */
.new-offer {
    display: flex;
    justify-content: space-between;
}

.new-offer4 {
    margin-top: 49.08px;
    margin-left: 49.08px;
    width: 364.84px;
    height: 364.84px;
    background-image: url(../images/Ellipse\ 1.png);


}

.l {
    width: 463px;
    height: 463px;

    border: 10px solid rgb(255, 0, 0);

    border-radius: 50%;

}

.new-offer1 {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
}

.new-offer2 {
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;

}

.new-offer3 {
    width: 393px;
    height: 128px;
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: left;
}

.new-offer5 {

    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0%;
    text-align: left;
}

.new-offer6 {
    width: 276px;
    height: 96px;
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: left;
}

.new-offer {
    margin-top: 100px;
    margin-left: 140px;
}

.new-offer7 {
    width: 140px;
    height: 132.79px;
    margin-top: 63.56px;

    background: linear-gradient(180.00deg, rgb(248, 246, 251) 12.89%, rgb(239, 220, 251) 175.655%);
    background-image: url(../images/Group\ 96.png);

}

/* hyoliday-sale started */
.holiday-sale {
    margin: 120px 266px;
    width: 1068px;
    height: 260px;

    /* border: 2px solid red; */
}

.holiday-sale1 {
    margin-bottom: 16px;
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: center;
}

.holiday-sale2 {
    margin-bottom: 28px;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 91px;
    letter-spacing: 0%;
    text-align: center;
}

.holiday-sale3 {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: center;
}

.n {
    color: rgb(255, 0, 0);
}

.holiday-pic {
    width: 1320px;
    height: 662.07px;
    margin-top: 69px;
    margin-left: 140px;

}

.holiday-pic1 {
    width: 674.82px;
    height: 577.96px;
    margin-left: 60.83px;
    background-image: url(../images/Group\ 75.png);
}

.holiday-pic2 {
    margin-top: 77px;
    width: 305.69px;
    height: 305.69px;
    background-image: url(../images/Group\ 44.png);
}

.flexing {
    display: flex;
    justify-content: space-between;

}

.holiday-pic3 {
    width: 1320px;
    height: 229px;
    background-image: url(../images/Rectangle\ 2.png);
    background-position: bottom;

}

.sale-pic {
    width: 1320px;
    height: 1163px;
    /* border: 2px solid tomato; */
    margin-top: 200.07px;
    margin-left: 140px;
}

.sale-pic1 {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
}

.sale-pic2 {
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
}

.sale-pic3 {
    width: 896px;
    height: 64px;
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: left;
}

.image1 {
    background-image: url(../images/Rectangle\ 3.png);
    width: 424px;
    height: 450px;
}

.image2 {
    background-image: url(../images/Rectangle\ 4.png);
    width: 424px;
    height: 450px;
}

.image3 {
    background-image: url(../images/Rectangle\ 5.png);
    width: 424px;
    height: 450px;
}

.image4 {
    background-image: url(../images/Rectangle\ 6.png);
    width: 424px;
    height: 450px;

}

.image5 {
    background-image: url(../images/Rectangle\ 7.png);
    width: 424px;
    height: 450px;
}

.image6 {
    background-image: url(../images/Rectangle\ 8.png);
    width: 424px;
    height: 450px;
}

.sale-pic4 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin-top: 48px;
}

/* subscribe section started */
.subscribe {
    width: 1320px;
    height: 616px;
    /* border: 2px solid tomato; */
    margin-top: 120px;
    margin-left: 140px;
    background-color: rgba(255, 0, 0, 0.05);
}

.subscribe1 {

    margin-top: 80px;
    margin-left: 585px;
    background-image: url(../images/Group\ 61.png);
    width: 150px;
    height: 150px;
}

.subscribe2 {
    margin-top: 40px;
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
}


.subscribe3 {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: center;
    width: 896px;
    height: 64px;
    margin-left: 212px;
}

.subscribe4 {
    display: flex;
}

.pow1 {
    margin-top: 48px;
    margin-left: 336px;
    width: 438px;
    height: 72px;
    border-radius: 50px 0px 0px 50px;
    background: rgb(255, 255, 255);
    text-align: left;
    padding-left: 30px;
    border-color: white;





}

.pow2 {

    width: 210px;
    height: 72px;
    border-radius: 0px 50px 50px 0px;
    border-color: white;
    color: white;

    background-color: rgb(255, 0, 0);
    margin-left: 0px;
    margin-top: 48px;

}

/* footer started */

.foot {
    width: 1600px;
    height: 609px;
    /* border: 2px solid blue; */
    margin-top: 100px;
    background: rgb(7, 2, 17);
}

.upper {
    padding-top: 120px;
    margin-top: 120px;
    display: flex;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: left;
    justify-content: space-around;
}

.upper1 {
    width: 375px;
    height: 80px;
}

.contact {
    width: 195px;
    height: 40px;
}

.mid {

    display: flex;
    justify-content: center;
    justify-items: center;
    margin-top: 100px;
    gap: 30px;
    /* gap: 10px; */
}

.mid1 {
    background-image: url(../icons/Facebook.png);
    width: 64px;
    height: 64px;

}

.mid2 {
    background-image: url(../icons/Instagram.png);
    width: 64px;
    height: 64px;

}

.mid3 {
    background-image: url(../icons/Twitter.png);
    width: 64px;
    height: 64px;
}

.mid4 {
    background-image: url(../icons/Linkedin.png);
    width: 64px;
    height: 64px;
}

.lower {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
    
}
.low{
    display: flex;
    justify-content: center;
    margin-top:150px;
    justify-content: space-around;
}


